<turbo-frame id="modal">
  <div class="fixed inset-0 bg-black/30 z-40 flex items-center justify-center" data-controller="modal">
    <div class="relative bg-white rounded-lg shadow-xl max-h-[90vh] p-6 <%= width %>">
      <%= inline_svg_tag "x-mark.svg", class: "absolute cursor-pointer top-2 right-2 size-6", data: { action: "click->modal#close" } %>
      <%= content %>
    </div>
  </div>
</turbo-frame>
