<aside class="w-64 h-screen border-r border-gray-200 bg-gray-50">
  <div class="h-full px-3 py-4">
    <div class="flex justify-center">
      <%= link_to "Добавить локацию", new_location_path, class: "btn blue", data: { turbo_frame: :modal } %>
    </div>

    <ul class="flex flex-col gap-1 mt-8 h-[80vh] overflow-y-auto">
      <% Location.all.each do |location| %>
        <li class="w-fit">
          <%= link_to location.address,
            location_path(location),
            class: ["p-3 w-fit max-w-48 text-sm block truncate rounded-md hover:bg-gray-100 hover:font-bold", ("bg-gray-100 font-bold" if current_page?(location))],
            title: location.address
          %>
        </li>
      <% end %>
    </ul>
  </div>
</aside>
