<aside class="w-64 h-screen border-r border-gray-200 bg-gray-50">
  <div class="h-full px-3 py-4">
    <div class="flex justify-center">
      <%= link_to "Добавить локацию", new_location_path, class: "btn blue", data: { turbo_frame: :modal } %>
    </div>

    <ul class="flex flex-col gap-1 mt-8 h-[80vh] overflow-y-auto">
      <% Location.order(:address).each do |location| %>
        <li class="w-fit">
          <turbo-frame id="location-sidebar-<%= location.id %>">
            <%= render "locations/location_sidebar", location: %>
          </turbo-frame>
        </li>
      <% end %>
    </ul>
  </div>
</aside>
