<aside class="fixed top-0 left-0 z-40 w-64 h-screen">
  <div class="h-full px-3 py-4 bg-gray-50">
    <%= link_to "Создать локацию", new_location_path, class: "btn blue", data: { turbo_frame: :modal } %>

    <ul class="flex flex-col gap-2 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 h-[85vh] overflow-y-auto">
      <% Location.all.each do |location| %>
        <li>
          <%= link_to location.address,
            location_path(location),
            class: "w-fit max-w-48 text-sm block truncate",
            title: location.address
          %>
        </li>
      <% end %>
    </ul>
  </div>
</aside>
