<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 px-4">
  <% products.each do |product| %>
    <turbo-frame id="product_card_<%= product.id %>">
      <%= render "products/product_card", product:, location: %>
    </turbo-frame>
  <% end %>
</div>
