<%= render ViewComponents::Modal.new(size: ViewComponents::Modal::MEDIUM) do %>
  <div class="flex flex-col gap-6">
    <turbo-frame id="product_name">
      <%= render "products/product_name", product:, location: %>
    </turbo-frame>

    <turbo-frame id="product_price">
      <%= render "products/product_price", product:, location: %>
    </turbo-frame>

    <turbo-frame id="product_description">
      <%= render "products/product_description", product:, location: %>
    </turbo-frame>
  </div>
<% end %>
