<%= render ViewComponents::Modal.new do %>
  <%= form_with url: locations_path, model: location, method: :post, html: {novalidate: true} do |f| %>
    <%= render ViewComponents::TextInput.new(
      f, :address,
      label: "Адрес",
      placeholder: "Введите адрес",
      input_html: {
        autofocus: true
      }
    ) %>

    <div class="flex justify-end">
      <%= f.submit "Создать", class: "btn blue mt-2" %>
    </div>
  <% end %>
<% end %>
