<%= render ViewComponents::Modal.new do %>
  <%= form_with url: locations_path, model: location, method: :post, html: {novalidate: true} do |f| %>
    <%= render ViewComponents::TextInput.new(
      f, :address,
      label: "Адрес",
      placeholder: "Введите адрес"
    ) %>

    <div class="flex justify-center gap-2 mt-4">
      <button type="button" class="btn gray" data-action="click->modal#close">Отмена</button>
      <%= f.submit "Создать", class: "btn blue" %>
    </div>
  <% end %>
<% end %>
